*{
	font-family: Helvetica;
}

body, html, header, table, .topnav{
	margin: 0;
	padding: 0;
}



table{
	margin: 20px auto;
	border-collapse: collapse;
}

td{
    max-width:350px;
    max-height:300px;
    width:350px;
    height:300px;
	text-align: center;
	font-size: 30px;
	border-style : hidden!important;
	color: #00000040;
}

body{
  background-color: floralwhite;
}

.topnav {
  background-color: lightskyblue; 
  overflow: hidden;
}

.topnav a {
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  margin: 0;
}

ul {
  list-style-type: none;
}

#myname{
  float: left;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

article{
  padding: 20px;
  margin: 20px;
}

.active{
  background-color: #9c87fa;
}
